body {
	background: linear-gradient(to right, #ff4e50, #f9d423);
	text-align: center;


}

h1 {
	color: white;
	font-weight: 400;

}


 #one {
 	margin-top: 10px;
	color: #C70039;

 }
  #two {
 	margin-top: 10px;
	color: #5D6D7E;

 }


#inputA {
	border-radius: 5px;
	min-width: 28%;
	padding: 5px;
	border: none;
}
#imgOne {

	width: 500px;
	height: 400px;
   padding: 5px;
  font-size: 18px;
  margin-top: : 70px;
  border: #ef5350 3px solid;
}
.first {
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: bold;
	padding-bottom: : 200px;
}

#imgTwo {

	width: 500px;
	height: 400px;
   padding: 5px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 30px;
  border: #ef5350 3px solid;
}
#imgThree {

	width: 500px;
	height: 400px;
   padding: 5px;
  font-size: 18px;
  margin-top: : 70px;
  border: #ef5350 3px solid;

}
.imgindi {
	padding: 15px;
}
.param{
        margin-right: 150px;
        margin-top: 200px;
        color: #C70039;
    }
.box {
margin-left: 40px;
  padding: 20px 20px 20px 20px;
  font-size: 30px;

}

.box2 {
margin-left: 40px;
  padding: 20px 20px 20px 20px;
  font-size: 30px;

}
.box3 {
margin-left: 40px;
  padding: 20px 20px 20px 20px;
  font-size: 30px;

}